{% load custom_tags %}
{% if comments.count > 0 %}
    {% for item in comments %}
        <div class="main-detail-comment-container">
            <div class="main-detail-row">
                <div class="main-detail-item">Текст коментария</div>
                <a class="main-nav-link" href="{{ item.get_absolute_url }}">
                    <div class="main-detail-item-value main-detail-item-value-author">{{ item.text|truncatechars:60 }}</div>
                </a>
            </div>
            <div class="main-detail-row">
                <div class="main-detail-item">Автор коментария</div>
                <a class="main-nav-link" href="{{ item.author.profile.get_absolute_url}}">
                    <div class="main-detail-item-value main-detail-item-value-author">{{ item.author }}</div>
                </a>
            </div>
            <div class="main-detail-row">
                <div class="main-detail-item">Дата создания коментария</div>
                <div class="main-detail-item-value">{{ item.create_date }}</div>
            </div>
        </div>
    {% endfor %}
{% endif %}